
# Directories that are generated
/build
/docs

/callgrind.out.*
/massif.out.*

*~
*.pyc
*#
.#*

#osx
.DS_Store
._.DS_Store
*.fuse_*
*.kdev4
src/mongo/base/error_codes.h
src/mongo/base/error_codes.cpp
src/mongo/config.h
src/mongo/version.h
